<tr>
  <td><a href="{{{url}}}">{{{name}}}</a></td>
  <td>{{created_at}}</td>
  <td>{{fact}}</td>
  <td>{{measurements}}</td>
  <td>{{privacity}}</td>
  <td>
    <span class="glyphicon glyphicon-remove"></span>
    <button type="button" class="btn btn-custom">
      <span class="glyphicon glyphicon-remove"></span> Eliminar
    </button>
  </td>
</tr>
