<tr>
  <td><a href="{{{url}}}">{{{name}}}</a></td>
  <td>{{created_at}}</td>
  <td>{{fact}}</td>
  <td>{{measurements}}</td>
  <td>{{privacity}}</td>
  <td>
    <a id="edit-{{id}}" href="{{{edit_url}}}"><span class="glyphicon glyphicon glyphicon-edit"></span></a>   
    <span>&nbsp;</span>
    <a id="delete-{{id}}" href="{{{url}}}" data-method="delete"><span class="glyphicon glyphicon glyphicon-remove-circle"></span></a>
  </td>
</tr>
