<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>    
    <p><%= @email.body %></p>    
    <br />
    <br />
    <br />
    <p>Este correo se ha generado automáticamente. Por favor, no responda a esta dirección.</p>
    <p>Si desea contactar con nosotros puede hacerlo por correo electrónico a <a href="mailto:contacto@metirium.com">contacto@metirium.com</a>.</p>    
  </body>
</html>