<div id="popup-dialog" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Enviar correo electrónico</h4>
      </div>
      <div id="popup_body" class="modal-body">
        <p>Cargando...</p>
      </div>
      <div class="modal-footer">
        <button id="popup-ok-button" type="button" class="btn btn-custom">Enviar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>