<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">El equipo de Metirium te da las gracias</h3>
  </div>
  <div class="modal-body">
    <p>Te mantendremos informado puntualmente de las novedades de la aplicación.</p>
    <p>También puedes seguirnos a través de <a href="https://twitter.com/metirium">nuestra cuenta de Twitter</a>.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
  </div>
</div>