<div class="landing-title jumbotron">
  <div class="row">
    <p>Tu dirección de correo ha sido eliminada de la base de datos y no recibirás más correos de nosotros.</p>
    <p>Esperamos volver a verte de nuevo muy pronto.</p><br>
    <p>Atentamente,</p>
    <p>el equipo de Metirium.</p>        
  </div>      
</div>
