<%= javascript_include_tag "leads/new" %>

<div id="landing-carousel" class="carousel slide">
  <div class="carousel-inner">  
    <div class="active item landing-slider-1 hero-unit"> 
      <div class="landing-margin">     
        <h1>Mídelo todo.</h1>
        <p>Metirium es una aplicación para realizar mediciones de todo tipo.</p>
        <a href="#features" class="btn btn-primary btn-large btn-custom">Aprende más &raquo;</a>
      </div>
      <div class="flickr-ref">
        <div class="flickr-box">
          <a href="http://www.flickr.com/photos/antonymayfield/3221166248/" target="_blank">Antony Mayfield</a>  
        </div>        
      </div>
    </div>
    <div class="item landing-slider-2 hero-unit">
      <div class="landing-margin"> 
        <h1>Con cualquier dispositivo.</h1>
        <p>Metirium te permite realizar mediciones desde un ordenador, una tablet o un móvil.</p>
        <a href="#features" class="btn btn-primary btn-large btn-custom">Aprende más &raquo;</a>
      </div>
      <div class="flickr-ref">
        <div class="flickr-box">
          <a href="http://www.flickr.com/photos/adactio/6153481666/" target="_blank">Jeremy Keith</a>  
        </div>        
      </div>
    </div>
    <div class="item landing-slider-3 hero-unit">
      <div class="landing-margin"> 
        <h1>Extrae conclusiones.</h1>
        <p>Metirium genera gráficas e información estadística a partir de tus mediciones.</p>
        <a href="#features" class="btn btn-primary btn-large btn-custom">Aprende más &raquo;</a>
      </div>
      <div class="flickr-ref">
        <div class="flickr-box">
          <a href="http://www.flickr.com/photos/ltdan/5305499164/" target="_blank">Dan Dickinson</a>  
        </div>        
      </div>
    </div>
    <div class="item landing-slider-4 hero-unit">
      <div class="landing-margin"> 
        <h1>Acceso por API.</h1>
        <p>Metirium proporciona una API para comunicarte con tus aplicaciones.</p>
        <a href="#features" class="btn btn-primary btn-large btn-custom">Aprende más &raquo;</a>
      </div>
      <div class="flickr-ref">
        <div class="flickr-box">
          <a href="http://www.flickr.com/photos/gcbadata/8740983487/" target="_blank">Buenos Aires Data</a>  
        </div>        
      </div>
    </div>
  </div>
  <a class="carousel-control left" href="#landing-carousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#landing-carousel" data-slide="next">&rsaquo;</a>
</div>

<%= render 'form' %>

<a id="features"></a>
  
<div class="row">
  <div class="span3">
    <h3>Mediciones</h3>
    <p>Define, configura y registra varios tipos de hechos: puntuales, periódicos o cuantificados.</p>
  </div>
  <div class="span3">
    <h3>Multiplataforma</h3>
    <p>Accede a Meterium desde cualquier ordenador o tableta a través del navegador, o desde cualquier móvil.</p>    
  </div>
  <div class="span3">
    <h3>Estadísticas</h3>
    <p>Representa gráficamente la evolución de tus mediciones y cruza los distintos hechos registrados para extraer conclusiones.</p>
  </div>
  <div class="span3">
    <h3>Acceso por API</h3>
    <p>Usa nuestra API para grabar o recuperar tus mediciones desde tus aplicaciones.</p>
  </div>
</div>

<div class="row">
  <div class="span3">
    <h3>Gratis</h3>
    <p>Disponible desde una versión básica gratuita, hasta versiones de pago con potentes características adicionales.</p>
  </div>
  <div class="span3">
    <h3>Plantillas</h3>
    <p>Múltiples escenarios de medición predefinidos: finanzas, ocio, peso, estado de ánimo y muchos más.</p>    
  </div>
  <div class="span3">
    <h3>Social</h3>
    <p>Comparte la información que quieras, cuando quieras y con quien quieras.</p>
  </div> 
  <div class="span3">
    <h3>Geolocalización</h3>
    <p>Almacena las coordenadas GPS de las grabaciones de tus eventos para saber dónde ocurren los hechos que mides.</p>
  </div> 
</div>

