<%= javascript_include_tag "leads/new" %>

<div class="row text-center landing-title">
  <div class="col-12">
    <h1><b>Mide, representa y analiza datos con cualquier dispositivo.</b></h1>
  </div>    
</div>

<%= render 'form' %>
  
<div class="row">
  <div class="col-lg-3">
    <h2>Mediciones</h2>
    <p>Define, configura y registra varios tipos de datos: <b>puntuales</b>, <b>periódicos</b> o <b>cuantificados</b>.</p>
  </div>
  <div class="col-lg-3">
    <h2>Multidispositivo</h2>
    <p>Accede desde cualquier <b>ordenador</b>, <b>tableta</b> o <b>móvil</b> a través del navegador.</p>    
  </div>
  <div class="col-lg-3">
    <h2>Gráficos</h2>
    <p>Genera <b>gráficos</b> de tus mediciones y cruza los distintos datos registrados para <b>extraer conclusiones</b>.</p>
  </div>
  <div class="col-lg-3">
    <h2>Acceso por API</h2>
    <p>Usa nuestra <b>API</b> para grabar o recuperar tus mediciones desde tus aplicaciones.</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-3">
    <h2>Económica</h2>
    <p>Disponible desde una <b>versión básica gratuita</b>, hasta <b>versiones de pago</b> con potentes características adicionales.</p>
  </div>
  <div class="col-lg-3">
    <h2>Plantillas</h2>
    <p>Múltiples <b>plantillas predefinidas</b>: finanzas, ocio, peso, estado de ánimo y muchas más.</p>    
  </div>
  <div class="col-lg-3">
    <h2>Social</h2>
    <p>Comparte la información <b>que</b> quieras, <b>cuando</b> quieras y con <b>quien</b> quieras.</p>
  </div> 
  <div class="col-lg-3">
    <h2>Geolocalización</h2>
    <p>Registra las coordenadas de las mediciones y realiza potentes <b>análisis geográficos</b> a partir de ellas.</p>
  </div> 
</div>

