<%= javascript_include_tag "leads/new" %>

<div class="row text-center landing-title">
  <div class="col-12">
    <h1><b>Mide, representa y analiza datos con cualquier dispositivo.</b></h1>
  </div>    
</div>

<%= render 'form' %>
  
<div class="row">
  <div class="col-lg-3">
    <h3><b>Mediciones</b></h3>
    <p>Define, configura y registra varios tipos de datos: puntuales, periódicos o cuantificados.</p>
  </div>
  <div class="col-lg-3">
    <h3><b>Multiplataforma</b></h3>
    <p>Accede a Metirium desde cualquier ordenador o tableta a través del navegador, o desde cualquier móvil.</p>    
  </div>
  <div class="col-lg-3">
    <h3><b>Estadísticas</b></h3>
    <p>Representa gráficamente la evolución de tus mediciones y cruza los distintos datos registrados para extraer conclusiones.</p>
  </div>
  <div class="col-lg-3">
    <h3><b>Acceso por API</b></h3>
    <p>Usa nuestra API para grabar o recuperar tus mediciones desde tus aplicaciones.</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-3">
    <h3><b>Gratis</b></h3>
    <p>Disponible desde una versión básica gratuita, hasta versiones de pago con potentes características adicionales.</p>
  </div>
  <div class="col-lg-3">
    <h3><b>Plantillas</b></h3>
    <p>Múltiples escenarios de medición predefinidos: finanzas, ocio, peso, estado de ánimo y muchos más.</p>    
  </div>
  <div class="col-lg-3">
    <h3><b>Social</b></h3>
    <p>Comparte la información que quieras, cuando quieras y con quien quieras.</p>
  </div> 
  <div class="col-lg-3">
    <h3><b>Geolocalización</b></h3>
    <p>Registra las coordenadas de las mediciones y realiza potentes análisis geográficos a partir de ellas.</p>
  </div> 
</div>

