<div id="landing-carousel" class="carousel slide">
  <div class="carousel-inner">  
    <div class="active item lorempixel1 hero-unit"> 
      <div class="landing-margin">     
        <h1>Mídelo todo.</h1>
        <p>Metirium es una aplicación para realizar mediciones de todo tipo.</p>
        <a href="#features" class="btn btn-primary btn-large">Aprende más &raquo;</a>
      </div>
    </div>
    <div class="item lorempixel2 hero-unit">
      <div class="landing-margin"> 
        <h1>Con cualquier dispositivo.</h1>
        <p>Metirium te permite realizar mediciones desde un ordenador, una tablet o un móvil.</p>
        <a href="#features" class="btn btn-primary btn-large">Aprende más &raquo;</a>
      </div>
    </div>
    <div class="item lorempixel3 hero-unit">
      <div class="landing-margin"> 
        <h1>Extrae conclusiones.</h1>
        <p>Metirium genera gráficas e información estadística a partir de tus mediciones.</p>
        <a href="#features" class="btn btn-primary btn-large">Aprende más &raquo;</a>
      </div>
    </div>
    <div class="item lorempixel4 hero-unit">
      <div class="landing-margin"> 
        <h1>Acceso por API.</h1>
        <p>Metirium proporciona una API para comunicarte con tus aplicaciones.</p>
        <a href="#features" class="btn btn-primary btn-large">Aprende más &raquo;</a>
      </div>
    </div>
  </div>
  <a class="carousel-control left" href="#landing-carousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#landing-carousel" data-slide="next">&rsaquo;</a>
</div>

<%= render 'form' %>

<hr>

<a id="features"></a>
  
<div class="row">
  <div class="span3">
    <h3>Tipos de medición</h3>
    <p>Registra hechos puntuales (he bebido una cerveza), periódicos (bebo una cerveza cada día) o cuantificados (he bebido 4 cervezas con los amigos). Además, geolocaliza los registros.</p>
  </div>
  <div class="span3">
    <h3>Multiplataforma</h3>
    <p>Accede a Meterium desde cualquier ordenador o tableta a través del navegador, o desde cualquier móvil Android.</p>    
 </div>
  <div class="span3">
    <h3>Estadísticas</h3>
    <p>Representa gráficamente la evolución de tus mediciones y cruza los distintos hechos registrados para extraer conclusiones.</p>
  </div>
  <div class="span3">
    <h3>Acceso por API</h3>
    <p>Usa nuestra API para grabar o recuperar tus mediciones desde tus aplicaciones.</p>
  </div>
</div>

