/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.landing-slider-1 {
  background-image: url('landing/1.jpg');
}
.landing-slider-2 {
  background-image: url('landing/2.jpg');
}
.landing-slider-3 {
  background-image: url('landing/3.jpg');
}
.landing-slider-4 {
  background-image: url('landing/4.jpg');
}
.landing-margin {
  margin-left: 20px;
  color: #FFFFFF !important;
}
.flickr-ref {
  float: right;
  display: inline;
  margin-top: -220px;
  margin-right: -60px;
  font-size: 10px;
}
.flickr-box {
  width: 100px;
  height: 24px;
  margin-top: 4px;
  text-align: center;
  vertical-align: center;
  background-color: #FFFFFF;
}
.alert-margin {
  margin-top: 20px;
}
.twitter {
  margin-top: 10px !important;
}
.side {
  padding-top: 100px;
  padding-right: 10px;
  border-right: #CCCCCC 1px solid;
  text-align: right;
  height: 250px;
}

.modal .modal-header, .modal .modal-footer{
  background-color: #505050;
  color: #DDDD90;
}

.modal .modal-body{
  background-color: #DDDD90;
  border-color: #DDDD90;
}
