/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  padding-top: 78px;
  padding-bottom: 40px;
  color: #505050 !important;
  background-color: #DDDD96 !important;
}
.alert-margin {
  margin-top: 20px;
}
.twitter {
  margin-top: 10px !important;
}

.sign-up .jumbotron {
  margin-top: 50px;
  margin-bottom: 50px;
}

.sign-up form {
  margin-top: 40px;
}

.sign-up .control-label {
  width: 190px !important;
  font-size: 18px;
  font-weight: bold;
  line-height: 35px;
  padding-right: 20px;
  margin-top: -10px;
}

.sign-up .popover-content {
  color: #505050;
  font-size: 14px;
}

.sign-up input[type*="checkbox"] {
  margin-top: 15px;
}

ul.metirium.nav {
  font-size: 18px;
  font-weight: bold;
  margin-top: 13px;
}

.twitter-container {
  margin-top: 17px;
}

.leadmail {
  width: 441px !important;
  height: 37px !important;
  font-size: 20px !important;
  vertical-align: middle !important; 
}

.landing-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.jumbotron {
  color: #DDDD90 !important;
  background-color: #505050 !important;
}

.btn-custom {
  background-color: hsl(61, 100%, 47%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcff6b", endColorstr="#ebef00");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fcff6b), to(#ebef00));
  background-image: -moz-linear-gradient(top, #fcff6b, #ebef00);
  background-image: -ms-linear-gradient(top, #fcff6b, #ebef00);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcff6b), color-stop(100%, #ebef00));
  background-image: -webkit-linear-gradient(top, #fcff6b, #ebef00);
  background-image: -o-linear-gradient(top, #fcff6b, #ebef00);
  background-image: linear-gradient(#fcff6b, #ebef00);
  border-color: #ebef00 #ebef00 hsl(61, 100%, 41%);
  color: #505050 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.39);
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

input[type=text]:focus, input[type=password]:focus{
  border-color: #fcff6b;
  -moz-box-shadow: 0px 0px 6px #fcff6b;
  -webkit-box-shadow: 0px 0px 6px #fcff6b;
  box-shadow: 0px 0px 6px #fcff6b;
}

.lead-form {
  margin-top: 15px;
}

.popover-title {
  background-color: #b94a48 !important;
  color: #ffffff !important;
  font-size: 16px;
  font-weight: bold;
}

.popover-content {
  color: #b94a48 !important;
  font-size: 14px;
}

hr {
  border-top: 1px solid #808080 !important;  
}

.mpanel {
  background-color: #505050;
  border: 1px solid #505050;
  border-radius: 4px;
  margin: 15px;
  color: #DDDD96;
}

.mpanel .row {
  padding-left: 25px;
  padding-right: 25px;  
}

.mpanel .title {
  margin-top: -5px;
  border-bottom: 1px solid #DDDD96;
}

.mpanel .info {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mpanel hr {
  padding: 0px !important; 
  margin: 0px !important;
}

.mpanel .entry span {
  padding-left: 5px;
}

.mpanel .table tbody>tr>td {
  border: 0;
}

.mbreadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #DDDD96 !important;
}

#dimension_tokens {
  margin-left: -15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
