/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.landing-slider-1 {
  background-image: url('landing/1.jpg');
}
.landing-slider-2 {
  background-image: url('landing/2.jpg');
}
.landing-slider-3 {
  background-image: url('landing/3.jpg');
}
.landing-slider-4 {
  background-image: url('landing/4.jpg');
}
.landing-margin {
  margin-left: 20px;
  color: #FFFFFF !important;
}
.flickr-ref {
  float: right;
  display: inline;
  margin-top: -220px;
  margin-right: -60px;
  font-size: 9px;
}
.flickr-box {
  width: 80px;
  height: 24px;
  margin-top: 4px;
  text-align: center;
  vertical-align: center;
  background-color: #FFFFFF;
}
.alert-margin {
  margin-top: 20px;
}
.twitter {
  margin-top: 10px !important;
}
.side {
  padding-top: 100px;
  padding-right: 10px;
  border-right: #CCCCCC 1px solid;
  text-align: right;
  height: 250px;
}

/* Extensiones a Bootstrap */
.btn-custom {
  background-color: hsl(61, 100%, 47%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcff6b", endColorstr="#ebef00");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fcff6b), to(#ebef00));
  background-image: -moz-linear-gradient(top, #fcff6b, #ebef00);
  background-image: -ms-linear-gradient(top, #fcff6b, #ebef00);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcff6b), color-stop(100%, #ebef00));
  background-image: -webkit-linear-gradient(top, #fcff6b, #ebef00);
  background-image: -o-linear-gradient(top, #fcff6b, #ebef00);
  background-image: linear-gradient(#fcff6b, #ebef00);
  border-color: #ebef00 #ebef00 hsl(61, 100%, 41%);
  color: #505050 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.39);
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

input[type=text]:focus, input[type=password]:focus{
  border-color: #fcff6b;
  -moz-box-shadow: 0px 0px 6px #fcff6b;
  -webkit-box-shadow: 0px 0px 6px #fcff6b;
  box-shadow: 0px 0px 6px #fcff6b;
}
