<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Gracias por registrarte en nuestra lista de correo.</h3>
    <p>A través de esta lista te haremos llegar información de interés sobre <a href="http://www.metirium.com">Metirium.com</a> como por ejemplo:</p>
    <ul>
      <li>la fecha de lanzamiento de las nuevas versiones,</li>
      <li>desarrollo de nuevas funciones,</li>
      <li>noticias relevantes sobre la aplicación.</li>
    </ul>
    <p>Esperemos que sean de tu agrado.</p>
    <p>Atentamente,<br>el equipo de <a href="http://www.metirium.com">Metirium.com</a></p>
    <br />
    <br />
    <br />
    <p>Este correo se ha generado automáticamente. Por favor, no responda a esta dirección.</p>
    <p>Si desea contactar con nosotros puede hacerlo por correo electrónico a <a href="mailto:contacto@metirium.com">contacto@metirium.com</a>.</p>
    <p>Si no desea seguir recibiendo correos de <a href="http://www.metirium.com">Metirium.com</a>, puede darse de baja en la lista pinchando en el siguiente enlace:</p>
    <p><a href="http://www.metirium.com/leads/<%= @digest %>/unsuscribe.html">http://www.metirium.com/leads/<%= @digest %>/unsuscribe.html</a>
  </body>
</html>