<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Gracias por registrarte en nuestra lista de correo.</h3>
    <p>A través de esta lista te haremos llegar información de interés sobre Metirium.com como por ejemplo:</p>
    <ul>
      <li>la fecha de lanzamiento de las nuevas versiones,</li>
      <li>desarrollo de nuevas funciones,</li>
      <li>noticias relevantes sobre la aplicación.</li>
    </ul>
    <p>Esperemos que sean de tu agrado.</p>
    <p>Atentamente,<br>el equipo de Metirium.com</p>
    <br />
    <br />
    <br />
    <p>Este correo se ha generado automáticamente. Por favor, no responda a esta direcciión.</p>
    <p>Si desea contactar con nosotros puede hacerlo por correo electrónico a contacto@metirium.com.</p>
    <p>Si no desea seguir recibiendo correos de Metirium.com, puede darse de baja en la lista pinchando en el siguiente enlace:</p>
  </body>
</html>