<div class="nav-collapse collapse navbar-responsive-collapse">
  <ul class="metirium nav navbar-nav">
    <li class="active"><a href="<%= @custom_root_path %>">Inicio</a></li>
    <li><a href="">Variables</a></li>
    <li><a href="">Mediciones</a></li>
    <li><a href="">Gráficos</a></li>
    <li><a id="contact" href="#">Contacto</a></li>
    <li><a href="#">Ayuda</a></li>    
  </ul>
  <ul class="metirium nav navbar-nav pull-right">
    <li><a id="logout" href="<%= destroy_user_session_path %>">Salir</a></li>
  </ul>
</div>