<div class="nav-collapse collapse navbar-responsive-collapse">
  <ul class="metirium nav navbar-nav">
    <li class="active"><a href="<%= root_path %>">Inicio</a></li>
    <li><a href="http://blog.metirium.com">Blog</a></li>
    <li><a id="contact" href="#">Contacto</a></li>
    <% if !Rails.env.production? %>
      <li><a id="login" href="<%= new_user_session_path %>">Iniciar sesión</a></li>
    <% end %>            
  </ul>
  <div class="pull-right twitter-container">
    <ul class="nav pull-right twitter">
      <li><%= link_to_twitter %></li>
    </ul>          
  </div>
</div>