<!DOCTYPE html>
<html>
<head>
  <title>Metirium</title>
  <%= stylesheet_link_tag    "application", "bootstrap.min" %>
  <%= javascript_include_tag "application", "bootstrap.min" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
